{% extends 'core/base.html' %}

{% block title %}Dashboard {% endblock %}

{% block navbar %}
{% include "core/user/navbar.html" %}
{% endblock %}

{% block content %}
    <p class='greeting'>Hi {{ user.username }}!</p>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-7">
                <div class="well">
                    <div id="workspace">
                        <ul>
                        {% for ws in ws_list %}
                            <li>
                                <p>
                                    <a href="/w/{{ ws }}/">
                                        <button class="btn btn-primary font-weight-bold font-italic">
                                            {{ ws }}
                                        </button>
                                    </a>
                                </p>
                            </li>
                        {% endfor %}
                            <li>
                                <p>
                                    <a href="/w/new/">
                                        <button class="btn btn-secondary font-weight-bold font-italic">
                                            + Create new workspace
                                        </button>
                                    </a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-left">
        <p><a href="{% url 'logout' %}">
            <button class="btn btn-secondary font-weight-bold font-italic">
                Logout
            </button>
        </a>
        <p><a href="{% url 'password_reset' %}">
            <button class="btn btn-secondary font-weight-bold font-italic">
                Reset Password
            </button>
        </a>
        </p>

    </footer>
{% endblock %}
