<nav class="navbar navbar-expand-lg navbar-light usernavbar" >
  <a class="brand" href="{% url "user:dash" %}">Murmur</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
    </ul>
    <div>
      <div class="nav-item d-inline"><a href="{% url "logout" %}">Logout</a></div>
    </div>
  </div>
</nav>
