{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>RabbitMQ Web STOMP Examples : Echo Server</title>
    <link rel="stylesheet" href="{% static 'css/temp.css' %}">
</head>

<body lang="en">
<div class="container">
    <div class="box">
        <h3>Channels</h3>
        <div id="channel-list">
            <ul>
                {% for channel in utils.channels %}
                    {% if forloop.first %}
                        <li id={{ channel.id }} kind="channel" class="active">
                            {{ channel.name }}
                        </li>
                    {% elif channel == None %}
                        </ul>
                        <div id="member-list">
                        <ul>
                    {% else %}

                        <li id={{ channel.id }} kind="user">
                            {{ channel.name }}
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
                </div>

        </div>
    </div>
    <div class="box">
        <div id="first" class="box messages content">
            <h2>Received</h2>
            <div>
                <div id="message-1" class="message replies">
                    <div class="sender_name">
                        mettalica1
                    </div>
                    <div class="content">
                        ajnaackmc1
                    </div>
                </div>
            </div>
            <div id="message-1" class="message">
                <div class="sender_name">
                    mettalica2
                </div>
                <div class="content">
                    ajnaackmc2
                </div>
            </div>
        </div>
        <div id="message-1" class="message">
            <div class="sender_name">
                mettalica3
            </div>
            <div class="content">
                ajnaackmc3
            </div>
        </div>
        <form><input autocomplete="off" value="Type here..."></input></form>
    </div>
    <div class="box">
        <div id="second" class="box">
            <h2>Logs</h2>
            <div></div>
        </div>
    </div>
</div>
{# more scripts #}
{{ workspace|json_script:'workspace-data' }};
{{ channels|json_script:'channels-data' }};
{{ members|json_script:'members-data' }};
{{ utils.channels|json_script:'channel-list-data' }};
<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "js/bundle.js" %}"></script>
</body>
</html>
