{% extends "core/base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/workspace.css' %}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light usernavbar">
  {% block ws_navbar %}
  {% endblock %}
</nav>

<div class="container-fluid" style="height: 80vh; width:100%">
  <div class="row" style="height: 80vh; width:100%">
    <div id="sidebar" class="col-2">
      {% block sidebar %}
      {% endblock %}
    </div>
    <div id="main" class="col-xl">
      {% block main %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
