{% extends "core/workspace/base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/workspace.css' %}">
{% endblock %}

{% block ws_navbar %}
{% include "core/workspace/navbar.html" %}
{% endblock %}

{% block sidebar %}
<div class="container">
  <h3>Channels</h3>
  <div id="channels">
    <div id="channel-list">
      <ul>
        {% for channel in utils.channels %}
        {% if forloop.first %}
        <li id={{ channel.id }} kind="channel" class="active">
          {{ channel.name }}
        </li>
        {% elif channel == None %}
      </ul>
      <h3>Members</h3>
      <div id="member-list">
        <ul>
          {% else %}
          <li id={{ channel.id }} kind="user">
            {{ channel.name }}
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block main %}
<div id="channel-view">
  <div id="messages">
    <div id="message-1">
      <div class="sender" name="metallica" user_id="14">
        metallica
      </div>
      <div class="body">
        slayer is meh
      </div>
    </div>

    <div id="message-2">
      <div class="sender" name="metallica" user_id="14">
        metallica
      </div>
      <div class="body">
        sound of silence
      </div>
    </div>

    <div id="message-3">
      <div class="sender" name="metallica" user_id="14">
        metallica
      </div>
      <div class="body">
        peace.
      </div>
    </div>
  </div>
  <div id="inpform">
    <form><input autocomplete="off" placeholder="Type here..."></input></form>
  </div>
</div>

<div id="second" style="visibility: hidden;">
  LOGS
  <div></div>
</div>
{% endblock %}

{% block scripts %}
{{ workspace|json_script:'workspace-data' }};
{{ channels|json_script:'channels-data' }};
{{ members|json_script:'members-data' }};
{{ messages|json_script:'messages-data' }};
{{ utils.channels|json_script:'channel-list-data' }};
<script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
<script src="{% static "js/bundle.js" %}"></script>
{% endblock %}
