<a class="brand" href="{%url "user:dash"%}">Murmur</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="{% url "ws:home" workspace %}">{{ workspace }}</a>
    </li>
  </ul>
  <div>
    <div class="nav-item d-inline"><a href="{% url "logout" %}">Logout</a></div>
    <div class="nav-item d-inline"><a href="{% url "ws:settings" workspace %}">Settings</a></div>
  </div>
</div>

