{% extends 'core/base.html' %}

{% block content %}
    <p>Hi {{ user.username }}!</p>
    <p>You are in {{ ws_name }}</p>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-7">
                <div class="well">
                    <div id="channels">
                        {% for ch in ch_list %}
                            <li>
                                <p>
                                    <a href="/w/{{ ch }}/">
                                        <button class="btn btn-primary font-italic">
                                            {{ ch }}
                                        </button>
                                    </a>
                                </p>
                            </li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid text-left">
        <p><a href="{% url 'logout' %}">
            <button class="btn btn-secondary font-weight-bold font-italic">
                Logout
            </button>
        </a>
        <p><a href="{% url 'password_reset' %}">
            <button class="btn btn-secondary font-weight-bold font-italic">
                Reset Password
            </button>
        </a>
        </p>
    </footer>

{% endblock %}