{% extends 'core/base.html' %}

{% block title %}Workspace Dashboard{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Dashboard</a></li>
                <li><a href="#">{{ws_name}}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Settings</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container text-center">
    <div class="row">
        <div class="col-sm-3 well">
            <div class="well">
                {% for channel, members in data.items %}
                <h5><p>{{channel}}</p></h5>
                {% for member in members %}

                <ul>
                    <li>
                        <tr>{{ member }}</tr>
                    </li>
                </ul>
                {% endfor %}
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}