body {
    font-family: 'Source Sans Pro', sans-serif;
}

.greeting {
    padding: 5px, 5px, 5px, 25px;
    margin-left: 10px;
    font-size: 20px;
}

footer.text-left {
    margin-top: 20px;
    margin-left: 208px;
}

.brand {
    font-family: 'Permanent Marker', cursive;
    border-bottom-style: solid;
    border-bottom-width:3px;
    border-bottom-color: #2b4f9b;
   color: white;
   font-size: 25px;
   text-decoration: none;
}

a.nav-link {
    color: white;
}
.brand:hover {
    font-family: 'Permanent Marker', cursive;
    color: orange;
    border-bottom-color:  orange;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width:3px;
}


li {
    list-style: none;
    text-align: left;
}


.usernavbar {
    background: #2b4f9b;
    
}

.nav-item.d-inline a {
    color: lightgreen;
    padding: 0px 15px 15px 15px;
}

.nav-item.d-inline a:hover {
    color: orange;
    padding: 0px 15px 15px 15px;
    text-decoration:none;
    border-bottom-style: solid;
	border-bottom-width: thick;
    text-align: center;
}


