* {
    box-sizing: border-box;
}

.box {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.message {
    border: 8px white;
    border-radius: 5px;
}

.sender_name {
    border: 10px;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    color: blue;
    alignment: left;
}

.content {
    border: 10px;
    font-family: 'Permanent Marker', cursive;
    color: forestgreen;
    alignment: right;
    padding-bottom: 20px;
}