* {
    outline: none;
}

#channel-view {
    height: 70vh;
    background: #f7faff;
    margin-top: 20px;
    padding: 50px 50px 50px 50px;
    border-radius: 2px;
    overflow-y:scroll;
}

#second {
    height: 1vh;
    overflow-y:hidden;

}
.nav-item.d-inline a {
    color: lightgreen;
    padding: 0px 15px 15px 15px;
}

.nav-item.d-inline a:hover {
    color: orange;
    padding: 0px 15px 15px 15px;
    text-decoration:none;
    border-bottom-style: solid;
	border-bottom-width: thick;
    text-align: center;
}

.container h3 {
    padding-top: 20px;
    color: #0a4693;
    text-align: right;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #0a4693;
}

.container {
    margin-top: 20px;
    border-radius: 3px;
    margin-left: -45px;
    background: #c7d1e0;
    height: 100%;
    overflow: hidden;
}

.container li {
    list-style:none;
    text-align: right;
    background: #c7d1e0;
    padding: 5px 5px 5px 5px;
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: #c7d1e0;
    margin-left: -200px;
    color: #1659af;
}

.container li:hover {
    list-style:none;
    text-align: right;
    background: #aabfe2;
    padding-right: 5px;
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: #5658aa;
    border-radius: 2px;
    margin-left: -200px;
    color: #5658aa;
    cursor: pointer;
}

.container .active {
    list-style:none;
    text-align: right;
    border-radius: 2px;
    background: #c7d1ef;
    padding: 5px 5px 5px 5px;
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: #0d5ed8;
    margin-left: -200px;
    color: #1659af;
}


.sender {
    color: #3d170a;
    text-decoration: bold;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    /*font-family: "Lucida Console";*/
    font-size: 15px;
}

.body {
    padding-bottom: 20px;
    font-size: 20px;
    /*font-family: "Tahoma";*/
}

#inpform {
    position:absolute;
    bottom:0;
}

input {
    width: 150vh;
    border: 3px solid black;
    padding: 2px 2px 2px 2px;
}

input:focus {
    border: 3px solid #0f5fe0;
    padding: 2px 2px 2px 2px;
}

/*a.nav-link {*/
    /*color: lightgreen;*/
/*}*/


/*a.nav-link :hover {*/
    /*color: orange;*/
    /*text-decoration:none;*/
    /*border-bottom-style: solid;*/
	/*border-bottom-width: thick;*/
    /*text-align: center;*/
/*}*/

