{% extends "core/base.html" %}
{% load static %}


{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/cover.css' %}">
{% endblock %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 pt-5 mx-auto flex-column">
  <main role="main" class="inner cover">
    <span class="brand cover-brand mb-5">murmur</span>
    <h1 class="cover-heading">Connect in style</h1>
    <p class="lead font-italic">murmur is a slack clone at best. It just about works.</p>

    <div class="container signup-register-forms">
      <div class="container">

        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}" class="needs-validation">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" name="username" class="form-control form-control-lg mb-2" placeholder="Username" required autofocus>
            <input type="password" name="password" class="form-control form-control-lg mb-2" placeholder="Password" required>
          </div>
          <input type="submit" value="Login" class="btn btn-lg btn-primary font-italic">
          <input type="hidden" name="next" value="{{ next }}">
        </form>

        <p class="lead lost-password mt-2 font-italic"><a href="{% url 'password_reset' %}">Lost password?</a></p>
        <p class="lead mt-5">No account yet?</p>
          <a href="{% url 'register' %}">
              <button name="register-btn" class="btn btn-lg btn-secondary font-weight-bold font-italic">Register
              </button>
          </a>
      </div>
    </div>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Communication for humans
        &copy; <a href="https://git.cse.iitb.ac.in/ananya/murmur">murmur inc.</a>.</p>
    </div>
  </footer>
</div>
{% endblock %}
