{% extends 'core/base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 pt-5 mx-auto flex-column">
  <main role="main" class="inner cover">
    <span class="brand cover-brand mb-5">murmur</span>
    <h1>Set a new password!</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change my password">
    </form>
  </main>
</div>
{% endblock %}
