{% extends 'core/base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 pt-5 mx-auto flex-column">
  <main role="main" class="inner cover">
    <span class="brand cover-brand mb-5">murmur</span>
    <h1>Forgot your password?</h1>
    <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send me instructions!">
    </form>
  </main>
</div>

{% endblock %}
