{% extends 'core/base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 pt-5 mx-auto flex-column">
  <main role="main" class="inner cover">
    <span class="brand cover-brand mb-5">murmur</span>
    <h1>Check your inbox.</h1>
    <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
  </main>
</div>
{% endblock %}
