{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 pt-5 mx-auto flex-column">
  <main role="main" class="inner cover">
    <span class="brand cover-brand mb-5">murmur</span>
    <h1>Password reset complete</h1>
    <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
  </main>
</div>
{% endblock %}
