{% extends "core/base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/cover.css' %}">
{% endblock %}

{% block title %}Register {% endblock %}

{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 pt-5 mx-auto flex-column">
      <main role="main" class="inner cover">
      <span class="brand cover-brand mb-5">murmur</span>
      <div class="container signup-register-forms">
            <div class="container">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}<br>
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    <button type="submit" name="register-btn" class="btn btn-lg btn-primary font-weight-bold font-italic">Sign Up
                    </button>
                </form>
            </div>
        </div>
      </main>
    </div>
{% endblock %}
