{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Login</a>
<a href="{% url 'register' %}">Register</a>
{% endblock %}
